@model ResetPasswordViewModel
@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
    <br /><br />
    <h3>Şifre Yenileme Sayfası</h3>
    <form method="post">
        <label>Şifrenizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <label>Şifrenizi TekrarGiriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-success">Şifreyi Güncelle</button>
    </form>
</div>

@*usertraversal@gmail.com*@
