@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3 class="mt-3">Yorum Listesi</h3>

<div class="table-responsive text-nowrap">
    <table class="table card-table mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Kullanıcı</th>
                <th>Rota</th>
                <th>Tarih</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr>
                    <td><small>@item.CommentID</small></td>
                    <td><small>@item.CommentUser</small></td>
                    <td><small>@item.Destination.City</small></td>
                    <td><span class="badge bg-label-primary me-1"><small>@item.CommentDate.ToString("dd MMM yyyy")</small></span></td>
                    <td><a class="btn btn-sm btn-outline-danger" href="/Admin/Comment/DeleteComment/@item.CommentID" onclick="return confirm('Bu yorumu silmek isteğinize emin misiniz?')"><i class="bx bx-trash me-1"></i> <small>Sil</small></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>