
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-3">Excel Raporları Sayfası</h2>
<br />
<a href="/Admin/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporu</a>
<br />
<a href="/Admin/Excel/DestinationExcelReport/" class="btn btn-outline-primary mt-3">Tur Rotaları Excel Raporu</a>